beautifulsoup4==4.13.3
boto3==1.34.54
bs4==0.0.1
celery==5.3.6
cryptography==40.0.2
Django==4.1.7
django-ckeditor==6.5.1
django-cors-headers==3.14.0
djangorestframework==3.14.0
gunicorn==22.0.0
pandas==2.1.2
pillow==11.0.0
python-dotenv==1.0.1
requests